
@{
    ViewBag.Title = "Home";
}
<h2>RECENT QUESTIONS</h2>
<ul class="recent-questions">
    <li>
        <div class="question">
            <a href="#" class="title">What is Computer</a>
            <p class="question-desc">
                <a href="javascript:void(0)" class="author">John Doe</a>
                <a href="javascript:void(0)" class="date">5 min ago</a>
            </p>
        </div>
    </li>
    <li>
        <div class="question">
            <a href="#" class="title">What is Computer</a>
            <p class="question-desc">
                <a href="javascript:void(0)" class="author">John Doe</a>
                <a href="javascript:void(0)" class="date">5 min ago</a>
            </p>
        </div>
    </li>
    <li>
        <div class="question">
            <a href="#" class="title">What is Computer</a>
            <p class="question-desc">
                <a href="javascript:void(0)" class="author">John Doe</a>
                <a href="javascript:void(0)" class="date">5 min ago</a>
            </p>
        </div>
    </li>
    <li>
        <div class="question">
            <a href="#" class="title">What is Computer</a>
            <p class="question-desc">
                <a href="javascript:void(0)" class="author">John Doe</a>
                <a href="javascript:void(0)" class="date">5 min ago</a>
            </p>
        </div>
    </li>
    <li>
        <div class="question">
            <a href="#" class="title">What is Computer</a>
            <p class="question-desc">
                <a href="javascript:void(0)" class="author">John Doe</a>
                <a href="javascript:void(0)" class="date">5 min ago</a>
            </p>
        </div>
    </li>
    <li>
        <div class="question">
            <a href="#" class="title">What is Computer</a>
            <p class="question-desc">
                <a href="javascript:void(0)" class="author">John Doe</a>
                <a href="javascript:void(0)" class="date">5 min ago</a>
            </p>
        </div>
    </li>
    <li>
        <div class="question">
            <a href="#" class="title">What is Computer</a>
            <p class="question-desc">
                <a href="javascript:void(0)" class="author">John Doe</a>
                <a href="javascript:void(0)" class="date">5 min ago</a>
            </p>
        </div>
    </li>
    <li>
        <div class="question">
            <a href="#" class="title">What is Computer</a>
            <p class="question-desc">
                <a href="javascript:void(0)" class="author">John Doe</a>
                <a href="javascript:void(0)" class="date">5 min ago</a>
            </p>
        </div>
    </li>
</ul>
@section Styles{
    @Styles.Render("~/css/home")
}

@section Scripts{
    @Scripts.Render("~/js/home")
}
