<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class='main-container'>
        <div class='header-container'>
            <div class='header'> <ul> <li><a href="#home">Sign in/Sign Up</a></li> </ul> </div>
            <div class='menu'>
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#news">Category</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li style="float:right"><a class="active"
                </ul>
            </div>
        </div>
        <div class='body'>
            <div class='content'>
                @RenderBody()
               
            </div>
            <aside></aside>
        </div>
        <div class='footer'>
            <p>for futher info contact info....</p>
        </div>

    </div>

    
       
        
</body>
</html>