<appSettings>
  <add key="Server" value="182.50.133.111"/>
  <add key="Database" value="Local_Interview"/>
  <add key="UID" value="InterviewAdmin"/>
  <add key="PWD" value="!nterv!eM"/>
  <!--<add key="Server" value="."/>
  <add key="Database" value="Local_Interview"/>
  <add key="UID" value="sa"/>
  <add key="PWD" value="sa"/>-->
  
  <add key="SiteName" value="Site Name"/>
  <add key="SiteUrl" value="http://localhost:3635/"/> 
  <add key="TagListPageSize" value="20"/>
  <add key="RecentQuestionListPageSize" value="30"/>
  <add key="TwitterKey" value="2hl7UxqB2qvr3JA4JLjUvjabz"/>
  <add key="TwitterSecret" value="YwS1aGI5lLlVsyIOHNbys38ZFcgJiBe4NAymWsUn4gVzKkuBKt"/>
</appSettings>
