* {margin: 0;padding: 0;font-family: "Open Sans";}
ul,ol{margin:0 25px;}
ul li,ol li{padding-left:0;}
h1 {font-size: 18px;}
h2 {font-size: 16px;}
h3 {font-size: 14px;}
table {border-collapse: collapse;}
th, td {padding: 0;}
a {text-decoration: none;}
.error{color:#b50000;font-size: 14px;margin-left: 5px;}
.interview-label {color: #666666;display: inline-block;font-size: 16px;}
.interview-input {height: 18px;width: 60%;padding: 6px 12px;font-size: 14px;line-height: 1.42857143;color: #555;min-width: 50px;background-color: #fff;background-image: none;border: 1px solid #ccc;border-radius: 4px;margin-bottom: 2px;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);box-shadow: inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;}
.interview-ddl {height: 32px;width:64%;padding: 6px 12px;font-size: 14px;line-height: 1.42857143;color: #555;min-width: 50px;background-color: #fff;background-image: none;border: 1px solid #ccc;border-radius: 4px;margin-bottom: 10px;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);box-shadow: inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;}
.interview-btn {display: inline-block;padding: 6px 12px;margin-bottom: 0;font-size: 14px;font-weight: 400;line-height: 1.42857143;text-align: center;white-space: nowrap;vertical-align: middle;-ms-touch-action: manipulation;touch-action: manipulation;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;background-image: none;border: 1px solid transparent;border-radius: 4px;color: #fff;background-color: #337ab7;border-color: #2e6da4;}
.interview-btn.focus,.interview-btn:focus {color: #fff;background-color: #286090;border-color: #122b40;}
.interview-btn:hover {color: #fff;background-color: #286090;border-color: #204d74;}
.interview-btn.active,.interview-btn:active {color: #fff;background-color: #286090;border-color: #204d74;}
.interview-btn.active.focus,.interview-btn.active:focus,.interview-btn.active:hover,.interview-btn:active.focus,.interview-btn:active:focus,.interview-btn:active:hover {color: #fff;background-color: #204d74;border-color: #122b40;}
.interview-btn.active,.interview-btn:active {background-image: none;}
.interview-btn.disabled.focus,.interview-btn.disabled:focus,.interview-btn.disabled:hover,.interview-btn[disabled].focus,.interview-btn[disabled]:focus,.interview-btn[disabled]:hover {background-color: #337ab7;border-color: #2e6da4;}
.main-container {width: 100%;}
.label-container {display: inline-block;width: 20%;float: left;}
.editor-container {display: inline-block;width: 80%;float: left;margin-bottom:10px;}
.header {width: 70%;height: 50px;margin: 0 auto;}
.interview-inputs {width: 100%;display: inline-table;}
.body {width: 70%;height: 600px;margin: 0 auto;margin-top: 30px;}
.menu {width: 70%;height: 50px;margin: 0 auto;}
.menu ul {list-style-type: none;margin: 0;padding: 0;overflow: hidden;width: 100%;height: 50px;border-bottom: 1px solid #e4e4e4;}
.menu li {float: left;height:100%;}
.menu li:hover{background:#c1c1c1;cursor:pointer;}
.menu li a {display: block;color: white;text-align: center;margin: 14px 0 0 0;text-decoration: none;color: #d0d0d0;padding: 0 20px;height:100%;}
.menu li:hover a{color: #525a65;font-weight:600;}

.header ul.sign-in{list-style-type: none;margin: 0;padding: 0;overflow: hidden;width: 100%;height: 50px;border-bottom: 1px solid #e4e4e4;}
.header ul.sign-in li {float: left;}
.header ul.sign-in li a {display: block;color: white;text-align: center;margin: 14px 14px 0 0;text-decoration: none;color: #525a65;}
.header ul.sign-in li a:hover{font-weight:600;}
.header ul.sign-in li {float: right;margin:0 0 0 4px;}
.header ul.sign-in li:not(:last-child):before {content: "/";float:left;margin:14px 0 0 0;color:#525a65;}
.header ul.sign-in li a{margin:14px 0px 0px 14px;}
ul.log-off{float: right;list-style: none;}
ul.log-off li{float: left;padding: 10px 0 0 10px;}

.header-container {border-bottom: 1px solid #ccc;}
.body .content {width: 70%;float: left;margin-bottom: 100px;}
.body .content-full {width: 100%;float: left;margin-bottom: 100px;}
.body aside {float: left;background: #000;width: 30%;height: 300px;}
footer {border-top: 1px solid #ccc;position: relative;bottom: 0;width: 100%;background:#ffffff;overflow: hidden;}
.footer {width: 70%;margin: 0 auto;}
.footer ul.footer-menu{list-style-type: none;margin: 0;padding: 0;overflow: hidden;width: 100%;height: 50px;display: inline;}
.footer ul.footer-menu li {float: left;}
.footer ul.footer-menu li a {display: block;color: white;text-align: center;margin: 14px 14px 0 0;text-decoration: none;color: #8f8f8f;}
.footer ul.footer-menu li a:hover{color: #2e6da4;font-weight:600;}
.footer ul.footer-menu li:not(:first-child):before {content: "|";float:left;margin:13px 0 0;color:#8f8f8f;padding-left:3px;}
.footer ul.footer-menu li a{margin:14px 0px 0px 14px;}
.footer p {float:right;margin-top:14px;color:#8f8f8f;padding-bottom:14px;}

/*interview-table*/
.interview-table{width:100%;}
.interview-table th{text-align:left;padding:5px 10px;border:1px solid #525a65;margin:0;background-color:#525a65;color:#fff;text-align:center;}
.interview-table td{text-align:left;padding:5px 10px;border:1px solid #525a65;margin:0;background-color:#f3f3f3;color:#4c4c4c;}

/*Pagination Style*/
.pagination {display: inline-block;margin:0 auto;}
.pagination a {color: black;float: left;padding: 8px 16px;text-decoration: none; margin:0 5px;}
.pagination a.active {background-color: #4CAF50;color: white;border-radius: 5px;}
.pagination a:hover:not(.active) {background-color: #ddd;border-radius: 5px;}

@media(max-width:768px) {
    aside {display:none;}
    .body .content,.label-container,.editor-container,.interview-input{width:100%;}
}
